/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Didact Gothic';
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Passion One';
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 6.4rem;
}
h4 {
  font-size: 2.5rem;
}
p,
a,
.btn {
  font-size: 1.6rem;
}
header {
  background-image: url(../images/neonbrand-mlZzMow-CQw-unsplash.jpg);
  background-size: cover;
  max-width: 1440px;
  height: 676px;
  margin: 0 auto;
}
header nav {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  height: 100px;
  max-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  flex-shrink: 1;
  width: 20%;
}
header nav .logo a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
header nav .logo a h1 {
  color: #438029;
}
header nav .logo a img {
  height: 70px;
}
header nav .links {
  flex-shrink: 1;
  max-width: 60%;
  width: 60%;
  display: flex;
  justify-content: space-between;
  font-family: 'Didact Gothic';
}
header nav .links a {
  line-height: 100px;
  text-decoration: none;
  color: white;
}
header nav .links .backendlinks a {
  font-family: 'Passion One';
  color: #438029;
  font-size: 3.6rem;
}
header nav .links .backendlinks a:hover {
  font-size: 3.8rem;
  color: #7DAA6A;
}
header .startdiv {
  margin-top: 25rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
header .startdiv .start {
  flex-shrink: 1;
  margin: 0 auto;
  background-color: #438029;
  height: 11.4rem;
  width: 46.6rem;
  border-radius: 40px;
  border: none;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.4);
  color: white;
  font-family: 'Didact Gothic';
  font-size: 7.2rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
header .startdiv .start:hover {
  transform: scale(1.1);
  color: #D4AF37;
}
footer {
  text-align: center;
}
.container {
  max-width: 1440px;
  margin: 7.15rem auto 5.3rem auto;
}
.container .help {
  padding: 3.05rem 0 5.3rem 0;
  border-top: 3px solid #438029;
  width: 88%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container .help .helpus {
  width: 100%;
  text-align: center;
}
.container .help .helpus h2 {
  font-size: 10rem;
  margin-bottom: 3rem;
  color: #438029;
}
.container .help .vert {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .help .vert h3 {
  text-align: center;
  color: #438029;
}
.container .help .vert p {
  font-size: 2rem;
}
.container .help .vert .illustration {
  margin: 0 auto;
}
.container .help .vert .illustration img {
  max-width: 100%;
  width: 20rem;
}
.container .newsletter {
  width: 100%;
  height: 30rem;
  background: rgba(255, 198, 160, 0.4);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container .newsletter input {
  position: relative;
  bottom: -3.2rem;
  padding: 0 0 0 3%;
  font-size: 6rem;
  width: 40%;
  height: 11.4rem;
  line-height: 13rem;
  background: #FFFFFF;
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.container .newsletter input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 5rem;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.2);
  max-width: 100%;
}
.container .newsletter input::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 5rem;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.2);
  max-width: 100%;
}
.container .newsletter input:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 5rem;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.2);
  max-width: 100%;
}
.container .newsletter input:-moz-placeholder {
  /* Firefox 18- */
  font-size: 5rem;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.2);
  max-width: 100%;
}
.container .newsletter div {
  flex-shrink: 1;
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.container .newsletter div h3 {
  font-size: 4rem;
  font-family: 'Didact Gothic';
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 2rem;
}
.container .newsletter div button {
  max-width: 100%;
  margin: 0 auto;
  background-color: #438029;
  height: 11.4rem;
  width: 46.6rem;
  border-radius: 40px;
  border: none;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.4);
  color: white;
  font-family: 'Didact Gothic';
  font-size: 7.2rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.container .newsletter div button:hover {
  transform: scale(1.1);
  color: #D4AF37;
}
@keyframes rotate {
  from {
    transform: rotateY(-360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
.rotating-area {
  position: relative;
  width: 300px;
  margin: 3rem auto 30rem auto;
  perspective: 2000px;
}
.rotating-area h3 {
  text-align: center;
  font-size: 2rem;
}
.rotating-area:hover .hero-cards {
  animation-play-state: paused;
  transform: rotateY(180deg);
}
.rotating-area .hero-cards {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateY(-360deg) translateZ(-300px);
  animation: rotate 20s steps(10000, end) infinite;
}
.rotating-area .hero-cards .rotating-img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 300px;
  height: 200px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  perspective: 1000px;
}
.rotating-area .hero-cards .rotating-img section,
.rotating-area .hero-cards .rotating-img .section-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  background-color: white;
  border: 3px solid black;
  border-radius: 15px;
  text-align: justify;
  padding: 5px 5px;
}
.rotating-area .hero-cards .rotating-img section {
  transform: rotateY(180deg);
}
.rotating-area .hero-cards .img-one {
  transform: rotateY(0deg) translateZ(300px);
}
.rotating-area .hero-cards .img-one:hover {
  transform: rotateY(180deg) translateZ(-300px);
}
.rotating-area .hero-cards .img-two {
  transform: rotateY(72deg) translateZ(300px);
}
.rotating-area .hero-cards .img-two:hover {
  transform: rotateY(252deg) translateZ(-300px);
}
.rotating-area .hero-cards .img-three {
  transform: rotateY(144deg) translateZ(300px);
}
.rotating-area .hero-cards .img-three:hover {
  transform: rotateY(324deg) translateZ(-300px);
}
.rotating-area .hero-cards .img-four {
  transform: rotateY(216deg) translateZ(300px);
}
.rotating-area .hero-cards .img-four:hover {
  transform: rotateY(396deg) translateZ(-300px);
}
.rotating-area .hero-cards .img-five {
  transform: rotateY(288deg) translateZ(300px);
}
.rotating-area .hero-cards .img-five:hover {
  transform: rotateY(468deg) translateZ(-300px);
}
