footer{
    max-width: 1440px;
    background: rgba(255, 198, 160, 0.4);
    margin: 0 auto;
    
    .fineprint{
        width: 121.6rem;
        margin: 0 auto;
        padding: 5.2rem 0 2.6rem 0;
        p{
            font-size: 1.2rem;
            line-height: 1.6rem;
        }
        
    }
    .copyright{
        text-align: center;
        padding-bottom: 2.6rem;
    }
}