.container{
    max-width: 1440px;
    margin: 7.15rem auto 5.3rem auto;
    
    .help{
        padding: 3.05rem 0 5.3rem 0;
        border-top: 3px solid @greenlowlight;
        width: 88%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .helpus{
            width: 100%;
            text-align: center;
            h2{
                font-size: 10rem;
                margin-bottom: 3rem;
                color: @greenlowlight;
            }
        }
        .vert{
            
            width:30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h3{
                text-align: center;
                color: @greenlowlight;

            }
            p{
                font-size: 2rem;
            }
            .illustration{
                margin: 0 auto;
                img{
                    max-width: 100%;
                    width: 20rem;
                }
                
            }
        }
    }//end of .help

    .newsletter{
        width: 100%;
        height: 30rem;
        background: rgba(255, 198, 160, 0.4);
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        input{
            
            position: relative;
            bottom: -3.2rem;
            padding: 0 0 0 3%;
            font-size: 6rem;
            width: 40%;
            height: 11.4rem;
            line-height: 13rem;
            background: #FFFFFF;
            box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            &::-webkit-input-placeholder,&::-moz-placeholder,&:-ms-input-placeholder, &:-moz-placeholder { 
                font-size: 5rem;
                margin: 0 auto;
                color: rgba(0, 0, 0, 0.2);
                max-width: 100%;
            }
        }
        div{
            flex-shrink: 1;
            width: 40%;
            display: flex;
            flex-direction: column;
            text-align: center;
            h4{
                font-size: 4rem;
                font-family: @text-font;
                color: rgba(0, 0, 0, 0.6);
                margin-bottom: 2rem;
            }
            button {
                max-width: 100%;
                margin: 0 auto;
                background-color: @greenlowlight;
                height: 11.4rem;
                width: 46.6rem;
                border-radius: 40px;
                border: none;
                box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.4);
                color: white;
                font-family: @text-font;
                font-size: 7.2rem;
                text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
                &:hover{
                    transform: scale(1.1);
                    color: @goldtext;
                }
            }
        
        }
    }

    .bigcta{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .right, .left {
            margin: 5rem auto;
            width: 80%;
            height: 21.3rem;
            overflow: hidden;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            background: white;
            box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            
            img {
                
                position: relative;
                height: 50.8rem;
                border-radius: 50%;
                top:7.6rem;
                right: -8.2rem;
                z-index: 1;
                
                
            }
        }
        .left {
            position: relative;
            flex-direction: row;
            
            img{
                left: -8.2rem;
                transform: rotateY(180deg);
            }
        }
        .even{
            background: rgba(255, 198, 160, 0.4);
        }
        .cta {
            
            h3{
                margin: 2rem auto;
                
                width: 80%;
                
                font-size: 6.5rem;
                color: @greenlowlight;
                position: relative;
                z-index: 2;
                overflow: hidden;
                text-align: center;
                background-color: white;
                &:before{
                    
                    position: absolute;
                    top: 51%;
                    overflow: hidden;
                    width: 110%;
                    height: 3px;
                    content: '\a0';
                    background-color: black;
                    z-index: -1;
                    margin-left: -50%;
                    text-align: right;
                    
                }
                
            
            }
            button{
                background-color: white;
                border: 3px solid @greenhighlight;
                border-radius: 10px;
                height: 7.5rem;
                font-size: 3rem;
                color: @greenhighlight;
                padding: 0 4.3rem;
                margin: 0 4.3rem ;
                &:hover{
                    transform: scale(1.1);
                    color: @goldtext;
                    border: 3px solid @goldtext;
                    cursor: pointer;
                }
                
            }
        }

    }

}