.container{
    max-width: 1440px;
    margin: 0 auto;
    .centered-placard{
        .centered-placard();
        .line h2{
            width: 80rem;
        }
    }
    .help{ 
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media @tablet{
            flex-direction: column;
        }
        .vert{
            @media @tablet{
                width: 80%;
                margin: 2rem auto;
            }
            @media @mobile{
                width: 100%;
                margin: 1rem auto;
            }
            width:30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h3{
                text-align: center;
                color: @greenlowlight;

            }
            p{
                font-size: 2rem;
            }
            .illustration{
                margin: 0 auto;
                img{
                    max-width: 100%;
                    width: 20rem;
                }
                
            }
        }
    }//end of .help

    .newsletter{
        width: 100%;
        height: 30rem;
        background: rgba(255, 198, 160, 0.4);
        display: flex;
        justify-content: space-around;
        align-items: center;
        @media @tablet{
            flex-direction: column;
            height: 50rem;
        }
        input{
            @media @tablet{
                width: 80%;
            }
            @media @mobile{
                font-size: 3rem;
                height: 9rem;
            }
           
            position: relative;
            bottom: -3.2rem;
            padding: 0 0 0 3%;
            font-size: 5.3rem;
            width: 40%;
            height: 11.4rem;
            line-height: 13rem;
            background: #FFFFFF;
            box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            &::-webkit-input-placeholder,&::-moz-placeholder,&:-ms-input-placeholder, &:-moz-placeholder { 
                margin: 0 auto;
                color: rgba(0, 0, 0, 0.2);
                max-width: 100%;
            }
        }
        div{
            @media @tablet{
                width: 80%;
            }
            flex-shrink: 1;
            width: 40%;
            display: flex;
            flex-direction: column;
            text-align: center;
            h4{
                font-size: 4rem;
                font-family: @text-font;
                color: rgba(0, 0, 0, 0.6);
                margin-bottom: 2rem;
            }
            button {
                .biggreenbutton();
                max-width: 100%;
            }
        
        }
    } //end of .newsletter


    .funding-cards-container{
        .browse{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 3% 3rem;
            h5{
                font-size: 3.6rem; 
            }
            #browse-by{
                text-align: center;
                padding-left: 3rem;
                height: 3.3rem;
                width: 14.4rem;
                background: #FFFFFF;
                border: 1px solid #C4C4C4;
                border-radius: 5px;
            }
        }
            
            
       
        
        
    }//end of funding cards


}