// video{
//     width: 100vw;
//     overflow: hidden;
// }
.container{
    max-width: 1440px;
    margin: 0 auto;
    .centered-placard{
        .centered-placard();
        .line h2{
            width: 80rem;
        }
    }
    .help{ 
        .flexed(row, space-between);
        flex-wrap: wrap;
        @media @tablet{
            flex-direction: column;
        }
        .vert{
            @media @tablet{
                width: 80%;
                margin: 2rem auto;
            }
            @media @mobile{
                width: 100%;
                margin: 1rem auto;
            }
            width:30%;
            .flexed(column, space-between);
            h3{
                text-align: center;
                color: @greenlowlight;

            }
            p{
                font-size: 2rem;
            }
            .illustration{
                margin: 0 auto;
                img{
                    max-width: 100%;
                    width: 20rem;
                }
                
            }
        }
    }//end of .help

    .newsletter{
        width: 100%;
        height: 30rem;
        background: rgba(255, 198, 160, 0.4);
        .flexed(row, space-around);
        align-items: center;
        @media @tablet{
            flex-direction: column;
            height: 50rem;
        }
        input{
            @media @tablet{
                width: 80%;
            }
            @media @mobile{
                font-size: 3rem;
                height: 9rem;
            }
           
            position: relative;
            bottom: -3.2rem;
            padding: 0 0 0 3%;
            font-size: 5.3rem;
            width: 40%;
            height: 11.4rem;
            line-height: 13rem;
            background: #FFFFFF;
            box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            &::-webkit-input-placeholder,&::-moz-placeholder,&:-ms-input-placeholder, &:-moz-placeholder { 
                margin: 0 auto;
                color: rgba(0, 0, 0, 0.2);
                max-width: 100%;
            }
        }
        div{
            @media @tablet{
                width: 80%;
            }
            flex-shrink: 1;
            width: 40%;
            .flexed(row, normal);
            text-align: center;
            h4{
                font-size: 4rem;
                font-family: @text-font;
                color: rgba(0, 0, 0, 0.6);
                margin-bottom: 2rem;
            }
            button {
                .biggreenbutton();
                max-width: 100%;
            }
        
        }
    } //end of .newsletter


    .funding-cards-container{
        .browse{
            width: 100%;
            .flexed(row, space-between);
            align-items: center;
            padding: 0 3% 3rem;
            h5{
                font-size: 3.6rem; 
            }
            #browse-by{
                text-align: center;
                padding-left: 3rem;
                height: 3.3rem;
                width: 14.4rem;
                background: #FFFFFF;
                border: 1px solid #C4C4C4;
                border-radius: 5px;
            }
        }

        .trending{
            position: absolute;
            top: 1rem;
            left: 2rem;
            width: 10.8rem;
            height: 2.5rem;
            background-image: url(/images/trending.svg); z-index: 5;
        }
            
        .between{
            position: absolute;
            left: 4rem;
            top: 42%;
            height: 6rem;
            width: 6rem;
            z-index: 1;
            background: #FFFFFF;
            border: 1px solid #C4C4C4;
            box-shadow: 3px 3px 4px rgba(196, 196, 196, 0.3);
            border-radius: 5px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
        }
        .one {
            div.upper{
                background-image: url(/images/icons/crazi.jpg);
            }
            div.between{
            background-image: url(/images/icons/hero-one.svg);
            }
        }
        
        .two {
            div.upper{
                background-image: url(/images/icons/mobius.jpg) ;
                background-size: 100%;
                background-position: 0 0;
            }
            div.between{
                background-image: url(/images/icons/hero-two.svg);
            }
        }
        
        .three {
            div.upper{
                background-image: url(/images/icons/juicy.jpg);
            }
            div.between{
            background-image: url(/images/icons/hero-three.svg);
            }
        }
        .four {
            div.upper{
                background-image: url(/images/icons/swipe.jpg);
            }
            div.between{
                background-image: url(/images/icons/hero-four.svg);
            }
        }
        .five {
            div.upper{
                background-image: url(/images/icons/security.jpg);
                background-size: 100%;
                background-position: 0 -15rem;
            }
            div.between{
                background-image: url(/images/icons/hero-five.svg);
                background-size: 80px 80px; //for some reason the svg file for this resized it, I dont know about svg to change that so i did this little hack
            }
        }

        .six {
            div.upper{
                background-image: url(/images/icons/turn.jpg);
            }
            div.between{
                background-image: url(/images/icons/hero-six.svg);
            }
        }
        
        
        
    }//end of funding cards

    


}