 header {
    margin: 0 auto;
    
    nav{
        max-width: 80%;
        width: 100%;
        margin: 0 auto;
        height: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .links{
            flex-shrink: 1;
            max-width: 50%;
            width: 50%;
            display: flex;
            justify-content: space-between;
            font-family: @text-font;
            text-decoration: none;
        }
    }
 }
